.categoryCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: .5rem;
    overflow-y: scroll;
    height: 15vh;
    background-color: #5746EA;
}
.categoryInfoBox{
  width: 25vw;
  display: flex;
  justify-content: space-between;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    border-radius: 2.30919rem;
    background-color: #9F94FF;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.688%;
    letter-spacing: 0.03519rem;

}


  @media only screen and (max-width: 768px) {
    .categoryCard {
      height: 10vh;
    }
    .categoryInfoBox{
      width: 50vw;
    }
  
    .category {
      width: 4.5rem; 
      height: 1.5rem;
      font-size: .8rem;
      
    }
  }
  