.ProfileInfo{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2.08925rem;
    background-color: #5746EA;
    padding: 1rem;
}
.leftCard{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 30vh;
}
.rightCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  @media only screen and (max-width: 768px) {
    .ProfileInfo {
      width: 90vw; 
      justify-content: space-around;
    }
  
    .leftCard {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      height: 15vh; 
    }
  }
    